* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "retro";
    src: url(../fonts/retro.woff2) format("woff2");
}
@font-face {
    font-family: "bros-regular";
    src: url(../fonts/bros-regular.woff2) format("woff2");
}
@font-face{
    font-family: "billie";
    src: url(../fonts/billie.woff2) format("woff2");
}

body{
    background-color: rgb(255 250 230);
    font-family: "bros-regular";
    padding-top: 95px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 95, 0);
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.name{
    color: rgb(0, 35, 121);
    flex-basis: 0 0 20%;
    font-family: "retro";
}

.searchcont{
    flex: 1;
    display: flex;
    justify-content: center;
    flex: 0 0 60%;
}

.carsearch {
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
}

.sb {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    background-color: rgb(255 250 230);
    height: 35px;
    flex: 1;
    outline: none;
    width: 100%;
    padding: 0 10px;
    font-family: "bros-regular";
    color: rgb(0, 35, 121);
    font-size: 18px;
}
 
.searchbutton {
    background-color: rgb(0, 35, 121);
    color: rgb(255 250 230);
    border: none;
    outline: none;
    height: 35px;
    width: 65px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
    font-family: "billie";
}

.searchbutton:hover{
    background-color:rgb(255 250 230);
    color: rgb(0, 35, 121);
    font-size: 17px;
}

.credentials{
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signup{
    background-color: rgb(0, 35, 121);
    color: rgb(255 250 230);
    border: none;
    height: 35px;
    width: 65px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: "billie";
}

.signup:hover{
    background-color:rgb(255 250 230);
    color: rgb(0, 35, 121);
    font-size: 17px;
}

.login{
    background-color: rgb(255 250 230);
    color: rgb(0, 35, 121);
    height: 35px;
    width: 65px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid rgb(0, 35, 121);
    transition: all 0.5s;
    font-family: "billie";
}

.login:hover{
    background-color:rgb(0, 35, 121);
    color: rgb(255 250 230);
    border: none;
    font-size: 17px;
}

.subheader {
    height: 35px;
    background-color: rgb(255, 159, 102);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 60px;
}

.navv{
    flex: 0 0 80%;
}

.navv > nav > ul {
    list-style: none;
    display: flex;
    gap: 0px;
    justify-content:flex-start;
    margin-inline-start: 30px;
    height: 35px;
    align-items: center;
    
}

.navv >nav> ul > li {
    cursor: pointer;
    font-family: "billie";
    color: rgb(0, 35, 121);
    font-size: 21px;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    transition: all 0.2s;
    position: relative;
}

.navv ul li:hover{
    border-bottom: 3px solid rgb(0, 35, 121);
}

.navv > nav > ul > li >  ul{
    display: none;
}

.navv > nav > ul > li:hover > ul {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(255, 159, 102,0.8);
    top: 110%;
    left: 0;
    font-family: billie;
    width: auto;
    white-space: nowrap;
    padding: 0 15px;
    text-align: left;
    border-radius: 4px;
}

.navv > nav > ul > li > ul> li:hover{
    border: none;
    list-style-type:disc;
    background-color: rgb(255, 159, 102,0.9);
    border-radius: 4px;
}

.loc{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location {
    background-color: transparent;
    color: rgb(0, 35, 121);
    border: none;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: "billie";
    width: 65%;
    height: 100%;
}

.location:hover{
    font-size: 20px;
}

.imagemain{
    width: 100%;
    overflow: hidden;
}

.imagemain img{
    height: auto;
    width: 100%;
}

.hotselling{
    width: 95%;
    display: flex;
    background-color: transparent;
    border: 5px solid rgb(0, 35, 121);
    margin: 20px auto;
    height: 500px;
    border-radius: 8px;
    flex-direction: column;
}

.hotselling div{
    width: 95%;
    margin: 0 auto;
}

.hsctitle{
    height: 15%;
    font-family: billie;
    font-weight: 600;
    font-size: 40px;
}

.hscmenus{
    height: 10%;
}

.hscmenus > ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: bros-regular;
    font-size: 30px;
    font-weight: 600;
}

.hsccontent{
    height: 65%;
}

.hscshowall{
    height: 10%;
}
.hscshowall>button{
    background-color: rgb(0, 35, 121);
    color: rgb(255 250 230);
    border: none;
    height: 45px;
    width: 145px;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: "billie";
}

.hscshowall>button:hover{
    background-color:rgb(255 250 230);
    color: rgb(0, 35, 121);
    font-size: 23px;
    text-decoration: underline;
}