* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: retro;
    src: url(../fonts/retro.otf);
}

body{
    background-color: rgb(255 250 230);
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 35, 121);
    align-items: center;
    height: 60px;
}

.name{
    color: rgb(255, 95, 0);
    flex-basis: 0 0 20%;
    font-family: retro;
}

.searchcont{
    flex: 1;
    display: flex;
    justify-content: center;
    flex: 0 0 60%;

}

.carsearch {
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
}

.sb {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    background-color: rgb(255 250 230);
    height: 35px;
    flex: 1;
    outline: none;
    width: 100%;
    padding: 0 10px;

}
 
.searchbutton {
    background-color: rgb(255, 95, 0);
    color: rgb(255 250 230);
    border: none;
    outline: none;
    height: 35px;
    width: 65px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
}

.searchbutton:hover{
    background-color:rgb(255 250 230);
    color: rgb(255, 95, 0);
    font-size: 13px;
}

.credentials{
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signup{
    background-color: rgb(255, 95, 0);
    color: rgb(255 250 230);
    border: none;
    height: 35px;
    width: 65px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s

}

.signup:hover{
    background-color:rgb(255 250 230);
    color: rgb(255, 95, 0);
    font-size: 13px;
}

.login{
    background-color: rgb(255 250 230);
    color: rgb(255, 95, 0);
    height: 35px;
    width: 65px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(255, 95, 0);
    transition: all 0.5s;
}
.login:hover{
    background-color:rgb(255, 95, 0);
    color: rgb(255 250 230);
    border: none;
    font-size: 13px;
}




